[submodule "core"]
	path = core
	url = git@github.com:qflow/core.git
[submodule "qbs"]
	path = qbs
	url = git@github.com:qflow/qbs.git
[submodule "websockets"]
	path = websockets
	url = git@github.com:qflow/websockets.git
